<!--
======================================
; Title: not-found.component.html
; Author: Chris Gorham
; Date Created: 30 August 2023
; Last Updated: 30 August 2023
; Description: This code supports the HTML functionality for the Not Found Component
; Sources Used: Bellevue University WEB-450 GitHub
;=====================================
-->

<div class="container mt-5 text-center" style="min-height: 600px;">
    <div class="row">
        <!--first column-->
        <div class="col-md-6">
            <img class="img-fluid rounded" src="./assets/error-404.jpg" alt="Broken Cell Phone with the message of 404">
        </div>

        <!--second column-->
        <div class="col-md-6 my-5">
            <h1 class="display-1">404</h1>
            <h2 class="display-4">Page Not Found</h2>
            <p class="lead">
                The page you are looking for does not exist. Please check the url and try again.
            </p>
            <a routerLink="/" class="btn btn-ouline-secondary">Go Home</a>

        </div>

    </div>
</div>
