<!--
======================================
; Title: nav.component.html
; Author: Chris Gorham
; Date Created: 15 August 2023
; Last Updated: 17 August 2023
; Description: This code supports the HTML functionality for the Nav Component
; Sources Used: N/A
;=====================================
-->

<nav class="bg-slytherin ps-3 navbar navbar-expand-sm fixed-top">
    <a routerLink="/" class="logo"><img src="./assets/logo.png" width="25%"></a>

    <button 
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
    </button>

    <!-- navbar links-->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto p-2">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link font-yellow">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="#" class="nav-link font-yellow">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="#" class="nav-link font-yellow">Contact</a>
        </li>

        <li *ngIf="!isSignedIn">
          <a class="nav-link font-yellow" routerLink="/security/signin">Sign in</a>
        </li>
        <!--user account-->
        <li *ngIf="isSignedIn" class="nav-item dropdown">
          <a 
          href="#"
          class="nav-link pe-3 font-yellow bg-slytherin"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
        <span class="material-icons">person</span>
      </a>

      <ul class="dropdown-menu dropdown-menu-end bg-black" aria-labelledby="navbarDropdown">
        <li class="dropdown-item font-yellow">
          Signed in as {{ appUser.fullName }}
        </li>
        <hr />
        <li>
          <a routerLink="/task-management/my-tasks" class="dropdown-item font-yellow">My Tasks</a>
        </li>
        <li>
          <a (click)="signout()" class="dropdown-item font-yellow">Sign Out</a>
        </li>

      </ul>
        </li>
      </ul>
    </div>
</nav>