/*
======================================
; Title: tasks.component.css
; Author: Chris Gorham
; Date Created: 15 August 2023
; Last Updated: 23 August 2023
; Description: This code supports styling for the Tasks Component
; Sources Used: N/A
;=====================================
*/

.font-yellow {
    color: yellow;
}

.bg-slytherin {
    background-color: #2a623d;
  }
  
.bg-slytherin2 {
    background-color: #5d5d5d;
  }
  
.bg-slytherin3 {
    background-color: #aaaaaa;
  }

.yellow-border {
    border-color: yellow;
  }