<!--
======================================
; Title: home.component.html
; Author: Chris Gorham
; Date Created: 15 August 2023
; Last Updated: 31 August 2023
; Description: This code supports the HTML functionality for the Home Component
; Sources Used: Bellevue University WEB-450 GitHub
;=====================================
-->

<div class="container-fluid pt-2 bg-slytherin3 text-black">

  <h1 class="text-center text-black">Welcome to the Nodebucket Application!</h1>

  <div class="row mt-5">

    <!--Tasks portion-->
    <div class="col-sm-4 text-center">
      <figure>
        <a routerLink="/task-management/my-tasks">
          <img class="img-fluid" src="./assets/todo.jpeg" width="50%" alt="Notepad with tasks written on it">
        </a>
        <h1>Tasks</h1>
        <p>Nodebucket is a simple to-do list application that allows you to manage and keep track of your tasks.</p>
      </figure>
    </div>

    <!--About Us portion-->
    <div class="col-sm-4 text-center">
      <figure>
        <a routerLink="/about">
          <img class="img-fluid" src="./assets/about-us.jpeg" alt="Framed eyeglasses on top of a book" width="50%">
        </a>
        <h1>About Us</h1>
        <p>Learn more about our company and why Nodebucket is right for you.</p>
      </figure>
    </div>

    <!--Contact Us portion-->
    <div class="col-sm-4 text-center">
      <figure>
        <a routerLink="/contact">
          <img class="img-fluid" src="./assets/contact-us.jpeg" width="50%" alt="the word contact written on a table">
        </a>
        <h1>Contact Us</h1>
        <p>Have questions? We have answers. Contact us today.</p>
      </figure>
    </div>

  </div>

</div>


